<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="action_open_presupuesto" model="ir.actions.act_window">
        <field name="name">Presupuesto</field>
        <field name="res_model">presupuesto.model</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_open_recurso_cinematografico" model="ir.actions.act_window">
        <field name="name">Recurso cinematografico</field>
        <field name="res_model">recurso.cinematografico</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_principal" name="Peliculas"/>
    <menuitem id="menu_horizontal" name="Mis modelos" parent="menu_principal"/>
    <menuitem id="menu_vertical_presupuesto" name="Presupuesto" parent="menu_horizontal" action="action_open_presupuesto"/>
    <menuitem id="menu_vertical_recursos_cinematograficos" name="Recurso cinematografico" parent="menu_horizontal" action="action_open_recurso_cinematografico"/>
    <menuitem id="mimenu" name="example" action="action_open_update_wizard" parent="menu_horizontal"/>
    <menuitem id="menu_create_uom_wizard" name="Create UOM Wizard" action="action_create_uom_wizard" parent="menu_horizontal"/>

</odoo>